*.iws
*.launch
.externalToolBuilders/
.DS_Store
.idea/
.nb-gradle/
.project
.settings/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
desktop.ini/
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcscmblueprint
build/
DerivedData/
xcuserdata/


### *** required entries below ***
###
### Please do not add anything below this line, your changes will be overwritten
###
.DS.d74cb6fe
__MACOSX/
.history/
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/1c9ca
!.vscode/extensions.json
*.code-workspace
### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide




###
###                                                                                                                                                                                                                                  git#117194
###
